@media (max-width: 1900px){
  .product-slider__inner{
    text-align: center;
  }
  .product__item-category{
    text-align-last: left;
  }
}
@media (max-width: 1440px){
  .product-slider__inner{
    .product__item{
      max-width: 560px;
    }
  }
}
@media (max-width: 1400px){
  .products .product__item{
    flex-basis: calc(33.333% - 30px);
  }
}
@media (max-width: 1220px){
  .product-slider__inner{
    .product__item{
      max-width: 400px;
    }
  }
}
@media (max-width: 1200px){
  .withdrawals__inner{
    display: block;
    margin-bottom: 100px;
  }
  .withdrawals__col{
    max-width: 100%;
    margin-bottom: 50px;
  }
  .page-about__wrapper{
    margin-bottom: 100px;
  }
  .upload-line{
    label{
      input,
      textarea{
        max-width: 700px;
      }
    }
    .jq-selectbox__select,
    .jq-file,
    .jq-file__name,
    .jq-selectbox,
    .jq-selectbox__dropdown{
      margin-left: auto;
      max-width: 700px;
    }
    .jq-selectbox__dropdown{
      right: 0;
    }
    .jq-file__browse{
      left: 10px;
      top: 17px;
    }
  }
  .upload__inner-content{
    button{
      display: block;
      margin: 45px auto 0;
    }
  }
  .contact__form-row{
    display: block;
  }
  .contact__form input{
    width: 100%;
  }
  .product-one__more-icon.productmini{
    max-width: 48%;
  }
  .product-one__inner{
    display: block;
    .aside__item{
      width: 100%;
    }
    .product__price button{
      display: block;
      width: 100%;
    }
  }
  .product-one__content,
  .product-one__images-inner,
  .product-one__images{
    max-width: 100%;
  }
  .product-one__title{
    width: 100%;
  }
  .product-page__content .product__item{
    flex-basis: calc(50% - 30px);
  }
  .product__item.list{
    flex-basis: 100%;
  }
  .tutorial__item {
    max-width: 30%;
  }
  .tutorial__item-images{
    min-height: 250px;
  }
}
@media (max-width: 1150px){
  .footer__inner{
    flex-wrap: wrap;
    padding: 40px;
  }
  .footer__col-address{
    margin-bottom: 50px;
    min-width: 100%;
  }
}
@media (max-width: 1070px){
  .product-page__inner{
    display: block;
    .aside__item{
      width: 100%;
    }
  }
  .product-page__aside {
    margin-right: 0;
}
  .product-page__content .product__item{
    flex-basis: calc(33.333% - 30px);
  }
  .product__item.list{
    flex-basis: 100%;
  }
  .top-sellers{
    display: none;
  }
}
@media (max-width: 1040px){
  .header__text{
    display: none;
  }
  .withdrawals__inner{
    margin-bottom: 50px;
  }
  .withdrawals__col{
    margin-bottom: 20px;
  }
  .page-404__wrapper{
    margin-bottom: 30px;
  }
  .settings__tabs{
    display: block;
    margin-bottom: 60px;
    .tabs{
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .page-box__content button {
    margin-left: 0;
    margin-top: 50px;
  }
  .settings__line{
    label{
      input,
      select{
        max-width: 700px;
      }
    }
  }
  .products .product__item{
    flex-basis: calc(50% - 30px);
    max-width: 100%;
  }
  .product__item-img{
    min-height: 220px;
  }
}
@media (max-width: 980px){
  .upload-line{
    label{
      input,
      textarea{
        max-width: 600px;
      }
    }
    .jq-selectbox__select,
    .jq-file,
    .jq-file__name,
    .jq-selectbox,
    .jq-selectbox__dropdown{
      max-width: 600px;
    }
  }
}
@media (max-width: 960px){
  .page-404__404::after{
    width: 95px;
    height: 185px;
    margin-left: 10px;
    background-size: cover;
  }
}
@media (max-width: 910px){
  .profile__inner{
    flex-direction: column;
  }
  .profile__content{
    order: -1;
  }
  .profile__aside{
    width: 100%;
    .aside__item{
      width: 100%;
    }
  }
  .profile__aside-btn{
    width: 300px;
  }
}
@media (max-width: 900px){
  .footer__col-social{
    min-width: 100%;
    margin-top: 50px;
  }
  .footer__inner{
    justify-content: flex-start;
  }
  .footer__col-menu{
    & + &{
      margin-left: 100px;
    }
  }
  .page-about__inner {
    padding: 25px 50px;
  }
  .page-about__wrapper{
    margin-bottom: 50px;
  }
  .contact__wrapper{
    margin-bottom: 50px;
  }
  .contact__box{
    display: block;
  }
  .product-page__items{
    margin-left: -20px;
  }
  .product-page__content .product__item{
    flex-basis: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .product__item.list{
    flex-basis: 100%;
  }
  .product-slider__inner{
    .product__item{
      max-width: 100%;
    }
  }
  .advantages__inner{
    display: block;
  }
  .advantages__item{
    margin: 0 auto 30px;
  }
  .advantages {
    padding: 50px 0;
  }
  .tutorial__title {
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 40px;
  }
  .tutorial {
    padding: 60px 0;
  }
  .tutorial__item-images {
    min-height: 200px;
  }
  .tutorial__item-title{
    font-size: 20px;
  }
}
@media (max-width: 888px){
  .upload-line{
    label{
      display: block;
      input,
      textarea{
        margin-top: 10px;
        margin-right: auto;
        margin-left: 0;
        display: block;
        width: 100%;
      }
      .jq-selectbox__select,
      .jq-file,
      .jq-file__name,
      .jq-selectbox,
      .jq-selectbox.jqselect,
      .jq-selectbox__dropdown{
        display: block;
        margin-top: 10px;
        margin-left: 0;
        margin-right: auto;
        max-width: 600px;
      }
      .jq-selectbox__dropdown{
        right: 0;
      }
    }
  }
}
@media (max-width: 860px){
  .search{
    min-height: 400px;
  }
  .search__inner{
    padding-top: 80px;
  }
  .search__inner-title{
    font-size: 40px;
    line-height: 50px;
  }
  .search__inner-text{
    font-size: 18px;
  }
  .products{
    padding-top: 50px;
  }
}
@media (max-width: 840px){
  .menu__list{
    display: none;
    background-color: $bg;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: .98;
    text-align: center;
    a{
      display: block;
      padding: 10px 0;
      border-bottom: 1px outset #fff;
    }
    li{
      display: block;
      & + li{ 
        margin-left: 0;
      }
    }
  }
  .menu__btn{
    display: block;
    width: 30px;
    cursor: pointer;
    div{
      background-color: #fff;
      height: 3px;
      & + div{
        margin-top: 5px;
      }
    }
  }
  .product-one {
    padding-bottom: 30px;
  }
  .product-one__box{
    display: block;
    margin-bottom: 30px;
  }
  .product-one__link{
    margin-bottom: 20px;
     a{
      display: block;
      & + a{
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
  .author{
    min-height: 450px;
  }
}
@media (max-width: 770px){
  .icon-th-list{
    display: none;
  }
  .tutorial__inner{
    flex-flow: column;
    align-items: center;
  }
  .tutorial__item {
    max-width: 65%;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px){
  .page-404__404{
    font-size: 250px;
    line-height: 250px;
    padding-top: 60px;
  }
  .page-404__link{
    margin-bottom: 60px;
  }
  .products .product__item{
    flex-basis: 100%;
  }
  .author__box{
    flex-flow: column;
    text-align: center;
  }
  .author__title{
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 660px){
  .footer__col-menu{
    min-width: 100%;
    & + &{
      margin-left: 0;
      margin-top: 50px;
    }
  }
  .notification__box,
  .message__box{
    display: none;
  }
}
@media (max-width: 640px){
  .profile__banner{
    height: 250px;
    margin-bottom: 20px;
  }
  .profile__items{
    margin-bottom: 20px;
    display: block;
    height: 100%;
  }
  .profile__item{
    width: 100%;
    & + .profile__item{
      border-left: none;
      border-top: 1px solid #d7d7d7;
    }
  }
  .products__inner-btn button{
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 600px){
  .page-404__404{
    font-size: 200px;
    line-height: 200px;
    padding-top: 50px;
  }
  .page-404__link{
    margin-bottom: 50px;
  }
  .page-404__text {
    font-size: 15px;
    margin-bottom: 40px;
  }
  .page-about__head {
    height: 60px;
    font-size: 20px;
    line-height: 20px;
  }
  .page-about__box h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .page-about__box p{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .contact__inner {
    padding: 15px;
  }
  .contact__head {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
  } 
  .contact__map {
    margin-bottom: 30px;
  }
  .contact__info{
    font-size: 13px;
  }
  .contact__form-title{
    font-size: 20px;
  }
  .contact__form-row{
    input{
      height: 36px;
      margin-bottom: 20px;
      &::placeholder{
        font-size: 12px;
      }
    }
  }
  .contact__map iframe{
    height: 300px;
  }
  .container{
    padding: 0 8px;
  }
  .tab_content {
    height: 230px;
    padding: 20px 20px 30px;
  }
  .tab-items__list {
    font-size: 14px;
    grid-column-gap: 0;
  }    
  .product-one__more-icon.productmini {
    max-width: 100%;
  }
  .product-one__images-inner{
    height: 350px;
  }
  .product-one__images{
    height: 316px;
  }
  .product-page__content .product__item{
    flex-basis: 100%;
    max-width: 100%;
  }
  .search__inner-title {
    font-size: 36px;
    line-height: 40px;
  }
  .search__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .search {
    min-height: 300px;
  }
}
@media (max-width: 540px){
  .tab_content {
    height: 100%;
  }
  .tab-items__list{
    display: block;
  }
}
@media (max-width: 520px){
  .header{
    overflow: hidden;
  }
  .header__btn-menu{
    display: block;
    width: 70px;
    height: 70px;
    background-color: $bg;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    &::before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 35px;
      color: #fff;
    }
  }
  .header__box{
    transition: all .5s;  
    position: absolute;
    background-color: #fff;
    height: 70px; 
    left: 100%;
    transform: scale(0);
    z-index: 2;
    &.active{
      left: 70px;
      right: 90px;
      transform: scale(1);
    }
  }
  .header__logo{
    margin-left: 60px;
  }
  .menu__btn{
    position: absolute;
    top: 24px;
    div{
      background-color: $bg;
    }
  }
  .header__top-inner{
    height: 70px;
  }
  .user__menu{
    top: 80px;
  }
  .basket__menu{
    top: 80px;
    left: 0;
  }
  .menu__list{
    top: 70px;
  }
  .product-one__title{
    font-size: 16px;
  }
  .product-one__text{
    font-size: 16px;
  }
}
@media (max-width: 495px){
  .user__info{
    display: none;
  }
  .header__box.active{
    display: flex;
    justify-content: space-between;  
  }
  .user__images{
    margin-right: 0;
  }
  .user__menu{
    left: 0;
  }
  .withdrawals__title{
    padding: 20px;
  }
  .withdrawals__content{
    padding: 20px;
  }
  .page-404__404::after{
    width: 70px;
    height: 136px;
  }
  .page-404__404 {
    font-size: 180px;
    line-height: 180px;
  }
  .tutorial__title{
    font-size: 24px;
  }
  .create-acnt{
    width: 100%;
  }
  .login__title {
    font-size: 40px;
    line-height: 40px;
  }
  .login__wrapper button{
    margin-right: 0;
    width: 100%;
  }
  .lost-pass{
    text-align: center;
  }
  .fancybox-content{
    padding: 10px;
  }
}
@media (max-width: 460px){
  .page-404__404 {
    font-size: 170px;
    line-height: 170px;
  }
  .page-404__title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .page-404__text {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .tabs .tab {
    font-size: 14px;
  }
  .product-one__title{
    height: 90px;
    line-height: 24px;
    text-align: center;
  }
}
@media (max-width: 430px){
  .page-404__404{
    font-size: 150px;
    line-height: 150px;
    padding-top: 30px;
    padding-right: 0;
  }
  .page-404__404::after{
    left: 39%;
    top: 70%;
  }
  .page-404__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .page-404__text {
    font-size: 10px;
  }
  .tabs{
    flex-flow: column;
    height: 100%;
    .tab + .tab{
      border-top: 1px solid #d7d7d7;
      border-left: none;
    }
  }
  .product-slider .slick-dots li button {
    width: 10px;
    height: 10px;
  }
  .product-slider .slick-dots li{
    margin-left: 2px;
    margin-right: 2px;
  }
}
@media (max-width: 400px){
  .header__box{
    &.active{
      left: 47px;
    }
  }
  .basket{
    margin-right: 10px;
  }
  .header__btn-menu{
    width: 55px;
  }
  .withdrawals__title{
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
  }
  .withdrawals__content{
    padding: 10px;
  }
  .withdrawal__form-line{
    label{
      font-size: 14px;
      span{
        font-size: 20px;
      }
      input,
      .jq-selectbox{
        margin-top: 15px;
        margin-bottom: 20px;
      }
    }
  }
  .withdrawals__content-item{
    font-size: 10px;
    line-height: 10px;
  }
}






@media (min-width: 841px){
  .menu__list{
    display: block !important;
  }
}