@media (max-width: 1150px){
  .footer__inner{
    flex-wrap: wrap;
    padding: 40px;
  }
  .footer__col-address{
    margin-bottom: 50px;
    min-width: 100%;
  }
}
@media (max-width: 1040px){
  .header__text{
    display: none;
  }
}
@media (max-width: 900px){
  .footer__col-social{
    min-width: 100%;
    margin-top: 50px;
  }
  .footer__inner{
    justify-content: flex-start;
  }
  .footer__col-menu{
    & + &{
      margin-left: 100px;
    }
  }
}
@media (max-width: 840px){
  .menu__list{
    display: none;
    background-color: $bg;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: .98;
    text-align: center;
    a{
      display: block;
      padding: 10px 0;
      border-bottom: 1px outset #fff;
    }
    li{
      display: block;
      & + li{ 
        margin-left: 0;
      }
    }
  }
  .menu__btn{
    display: block;
    width: 30px;
    cursor: pointer;
    div{
      background-color: #fff;
      height: 3px;
      & + div{
        margin-top: 5px;
      }
    }
  }
}
@media (max-width: 660px){
  .footer__col-menu{
    min-width: 100%;
    & + &{
      margin-left: 0;
      margin-top: 50px;
    }
  }
  .notification__box,
  .message__box{
    display: none;
  }
}
@media (max-width: 520px){
  .header{
    overflow: hidden;
  }
  .header__btn-menu{
    display: block;
    width: 70px;
    height: 70px;
    background-color: $bg;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    &::before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 35px;
      color: #fff;
    }
  }
  .header__box{
    transition: all .5s;  
    position: absolute;
    background-color: #fff;
    height: 70px; 
    left: 100%;
    transform: scale(0);
    z-index: 2;
    &.active{
      left: 70px;
      right: 90px;
      transform: scale(1);
    }
  }
  .header__logo{
    margin-left: 60px;
  }
  .menu__btn{
    position: absolute;
    top: 24px;
    div{
      background-color: $bg;
    }
  }
  .header__top-inner{
    height: 70px;
  }
  .user__menu{
    top: 80px;
  }
  .basket__menu{
    top: 80px;
    left: 0;
  }
  .menu__list{
    top: 70px;
  }
}
@media (max-width: 495px){
  .user__info{
    display: none;
  }
  .header__box.active{
    display: flex;
    justify-content: space-between;  
  }
  .user__images{
    margin-right: 0;
  }
  .user__menu{
    left: 0;
  }
}
@media (max-width: 400px){
  .header__box{
    &.active{
      left: 47px;
    }
  }
  .basket{
    margin-right: 10px;
  }
  .header__btn-menu{
    width: 55px;
  }
}






@media (min-width: 841px){
  .menu__list{
    display: block !important;
  }
}