@import 'vars';
@import 'global';
@import 'fonts';

.header{
  background-color: #fff;
}
.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header__text{
  margin-left: auto;
  margin-right: 15px;
  span{
    color: $red;
  }
}
.header__btn{
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.header__btn-login{
  background-color: $green;
}
.header__btn-register,
.header__btn-logout{
  background-color: $red;
  margin-left: 7px;
}
.header__menu{
  background-color: $bg;
}
.menu{
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #fff;
    font-size: 14px;
  }
}
.header__circle{
  &.active{
    display: block;
  }
  display: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;
  &::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 14px;
  }
  span{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    right: -7px;
    top: -7px;
    font-size: 11px;
    color: #fff;
  }
}
.header__box{
  display: flex;
  align-items: center;
}
.notification{
  span{
    background-color: $yellow;
  }
}
.message{
  span{
    background-color: $orange;
  }
}
.basket{
  margin-right: 20px;
  span{
    background-color: $green;
  }
}
.header__btn-login--off{
  display: none;
}
.header__btn-logout{
  display: none;
  &.header__btn-login--on{
    display: block;
  }
}
.user{
  margin-right: 25px;
  padding: 20px;
  position: relative;
  &::before{
    position: absolute;
    content: '\f107';
    font-family: icomoon;
    font-size: 16px;
    color: #707070;
    right: 0;
    top: 17px;
  }
  &__inner{
   display: flex;
   align-items: center;
  }
  &__images{
    margin-right: 15px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
  }
  &__info{
    line-height: 20px;
    font-size: 14px;
  }
  &__name{
    @include f500;
    color: #222;
  }
  &__money{
    color: $green;
    @include f700;
  }
}
.user__menu{
  top: 90px;
  left: 33px;
  border: 1px transparent;
  background-color: #fff;
  position: absolute;
  width: 158px;
  padding: 0 20px;
  height: 0;
  overflow: hidden;
  a{
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 15px;
  }
}
.user__box{
  position: relative;
  height: 90px;
  .user__menu{
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: all .5s;
  }
  &:hover{
    .user__menu{
      z-index: 2;
      height: auto;
      border: 1px solid #ccc;
      transform: scaleY(1);
    }
  }
}
.basket__menu,
.message__menu,
.notification__menu{
  top: 90px;
  right: -33px;
  border: 1px transparent;
  background-color: #fff;
  position: absolute;
  width: 268px;
  transition: all .5s;
  height: 0;
  overflow: hidden;
  z-index: 1;
}
.basket.header__circle,
.message.header__circle,
.notification.header__circle{
  margin-left: 15px;
  transform: translateY(28px);
}
.basket__box,
.message__box,
.notification__box{
  position: relative;
  height: 90px;
  .basket__menu,
  .message__menu,
  .notification__menu{
    transform: scaleY(0);
    transform-origin: 0 0;
  }
  &:hover{
    .header__circle::before{
      color: $bg;
    }
    .basket__menu,
    .message__menu,
    .notification__menu{
      z-index: 2;
      height: auto;
      border: 1px solid #ccc;
      transform: scaleY(1);
    }
  }
}
.basket__item,
.message__item,
.notification__item{
  border-bottom: 1px solid #ccc;
  padding: 20px 23px 25px;
  display: flex;
  align-items: center;
  position: relative;
  &::before{
  position: absolute;
  top: 27px;
  right: 28px;
  color: #b0bec5;
  }
  &.colored::before{
    color: $orange;
  }
}
.basket__images{
  margin-right: 15px;
}
.message__images,
.notification__images{
  margin-right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.basket__info-name,
.message__info-name{
  @include f500;
  color: $bg;
}
.basket__info-theme,
.message__info-theme,
.notification__info-theme{
  color: $green;
  font-size: 12px;
  line-height: 14px;
}
.message__info-date,
.notification__info-date{
  color: #90a4ae;
  font-size: 10px;
  line-height: 20px;
}
.basket__info-price{
  @include f500;
  color: $bg;
  line-height: 30px;
  font-size: 16px;
}
.basket__total{
  padding: 20px 16px 12px;
}
.basket__total-text{
  display: flex;
  justify-content: space-between;
  padding-right: 22px;
  padding-left: 13px;
  margin-bottom: 15px;
  @include f700;
  font-size: 16px;
  color: $bg;
}
.basket__btn{
  @include f700;
  color: #fff;
  font-size: 14px;
  padding: 12px 5px;
  background-color: $green;
  min-width: 105px;
  text-align: center;
}
.basket__btn-checkout{
  width: 123px;
  background-color: $red;
}
.header__btn-menu,
.menu__btn{
  display: none;
}



#modal{
  background-color: $green;
  width: 729px;
  height: 484px;
}
.login__title{
  @include f700;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 38px;
}
.login__wrapper{
  form{
    margin: 0 auto;
    width: 400px;
  }
  label{
    position: relative;
    display: block;
    &::before{
      position: absolute;
      font-size: 14px;
      font-family: icomoon;
      color: #fff;
      top: 9px;
      left: 18px;
    }
  }
  .login__label-name::before{
    content: '\f007';
  }
  .login__label-pswd::before{
    content: "\f023";
  }
  input{
    width: 100%;
    height: 43px;
    background-color: #76ae36;
    border: none;
    margin-bottom: 10px;
    padding: 0 40px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    display: block;
    &::placeholder{
      color: #fff;
    }
  }
  button{
    margin-top: 15px;
    margin-right: 6px;
    width: 139px;
    height: 48px;
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
    @include f700;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
}
.create-acnt{
  margin-top: 15px;
  background-color: #76ae36;
  width: 250px;
  height: 50px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  padding: 16px 5px 16px 40px;
  position: relative;
  &::before{
    position: absolute;
    content: '\f044';
    font-family: icomoon;
    left: 35px;
  }
}
.lost-pass{
  display: block;
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}
.fancybox-button svg path{
  color: #fff;
}



.page-404__wrapper,
.page-about__wrapper,
.contact__wrapper{
  border: 1px solid #d7d7d7;
  margin-bottom: 145px;
  background-color: #fff;
}
.page-404__head,
.contact__head{
  @include f500;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px 28px;
}
.page-404__inner{
  text-align: center;
  background-color: $green;
  color: #fff;
}
.page-404__404{
  font-family: 'Open Sans', sans-serif;
  font-size: 300px;
  line-height: 300px;
  padding-top: 80px;
  padding-right: 100px;
  margin-bottom: 30px;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    background-image: url(../images/page-404.png);
    width: 154px;
    height: 298px;
    margin-left: 10px;
  }
}
.page-404__title{
  font-size: 30px;
  margin-bottom: 30px;
  @include f300;
  letter-spacing: 1px;
}
.page-404__text{
  font-size: 18px;
  margin-bottom: 50px;
}
.page-404__link{
  width: 205px;
  height: 52px;
  padding: 19px 5px;
  border: 1.667px solid #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  @include f500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 100px;
}




.page-about__head{
  height: 64px;
  @include f500;
  font-size: 24px;
  line-height: 24px;
  color: $bg;
  border-bottom: 1px solid #d7d7d7;
  padding: 19px 30px;
}
.page-about__inner{
  padding: 30px 80px 0 50px;
}
.page-about__box{
  h3{
    @include f700;
    font-size: 20px;
    color: #444;
    margin: 0;
    margin-bottom: 20px;
  }
  p{
    margin: 0;
    margin-bottom: 40px;
    color: #707070;
  }
}



.contact__head{
  padding-left: 40px;
  padding-right: 40px;
}
.contact__inner{
  padding: 30px 40px 15px;
}
.contact__map{
  margin-bottom: 50px;
  iframe{
    width: 100%;
    height: 414px;
  }
}
.contact__box{
  display: flex;
  justify-content: space-between;
}
.contact__info{
  margin-right: 30px;
  max-width: 330px;
  width: 100%;
}
.contact__info-item{
  margin-bottom: 30px;
  margin-left: 40px;
}
.contact__info-title{
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
  font-size: 20px;
  @include f500;
  color: $bg;
  &::after{
    position: absolute;
    content: '';
    width: 44px;
    height: 4px;
    background-color: $green;
    left: 0;
    bottom: 0;
  }
  &::before{
    color: $green;
    font-size: 24px;
    position: absolute;
    left: -40px;
  }
}
.contact__info__content{
  color: #707070;
  width: 235px;
}
.contact__form-title{
  margin-bottom: 16px;
  font-size: 24px;
  color: #333;
  @include f500;
}
.contact__form{
  width: 100%;
  input{
    border: none;
    height: 43px;
    width: 350px;
    background-color: #f1f4f5;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 30px;
    &::placeholder{
      font-size: 15px;
      color: #7a7a7a;
    }
  }
  textarea{
    border: none;
    width: 100%;
    min-height: 193px;
    background-color: #f1f4f5;
    resize: none;
    padding: 17px;
    margin-bottom: 20px;
    &::placeholder{
      font-size: 15px;
      color: #7a7a7a;
    }
  }
  button{
    width: 190px;
    height: 54px;
    border: none;
    color: #fff;
    background-color: $green;
    @include f700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }
}
.contact__form-row{
  display: flex;
  justify-content: space-between;
}




.search{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
  &.page-search{
    min-height: 230px;
    .search__inner{
      padding: 60px 0 70px;
      &-text{
        margin-bottom: 25px;
      }
    }
  }
}
.search__inner{
  padding: 155px 0 100px;
  color: #fff;
  text-align: center;
  &-title{
    margin-bottom: 10px;
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }
  &-text{
    margin-bottom: 50px;
    @include f500;
    font-size: 20px;
    line-height: 30px;
  }
  &-form{
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder{
        color: #90a4ae;
        @include f500;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}



.products{
  padding: 100px 0;
  background-color: $grey;
}
.products__wrapper,
.product-slider__wrapper{
  max-width: 1920px;
  margin: 0 auto;
}
.products__inner-btn{
  text-align: center;
  margin-bottom: 60px;
  button{
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}
.products__inner-box{
  display: flex;
  justify-content: flex-start;
  margin-left: -30px;
  flex-wrap: wrap;
}
.products .product__item{
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
}
.product__item{
  max-width: 442px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(205, 214, 222, .75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name{
    max-width: 310px;
  }
  &-title{
    color: $bg;
    font-size: 18px;
    display: block;
  }
  &-category{
    font-size: 14px;
    color: $green;
    display: block;
  }
  &-price{
    font-size: 20px;
    color: $bg;
    @include f700;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author{
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar{
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span{
      font-size: 14px;
      @include f500;
    }
  }
  &-star{
    font-size: 12px;
    span{
      color: $bg;
    }
  }
}
.products__bottom-btn{
  text-align: center;
  button{
    margin: 45px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #fff;
    color: $bg;
    padding: 20px 30px;
    min-width: 165px;
    cursor: pointer;
    &.mixitup-control-active{
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}



.product-slider{
  padding: 110px 0 120px;
  .slick-dots{
    text-align: center;
    margin-top: 40px;
    li{
      display: inline-block;
      margin-left: 4px;
      margin-right: 4px;
      &.slick-active{
        button{
        background-color: $green;        
        }
      }
      button{
        border-radius: 50%;
        font-size: 0;
        background-color: #e8e8e8;
        width: 16px;
        height: 16px;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
}



.advantages{
  background-color: $bg;
  padding: 110px 0;
}
.advantages__title{
  color: #fff;
  margin-bottom: 85px;
}
.advantages__inner{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  max-width: 370px;
  text-align: center;
  padding: 0 15px;
  &:hover{
    .advantages__item-images{
      background-color: $green;
    }
    .advantages__item-title{
      color: $green;
    }
    .advantages__item-images{
      g{
        fill: #fff;
      }
    }
  }
  &-images{
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all .3s;
  }
  &-title{
    margin-bottom: 25px;
    font-size: 24px;
    color: #fff;
    @include f500;
    transition: all .3s;
  }
  &-text{
    font-size: 15px;
  }
}
.icosvg-1{
  svg{
    width: 50px;
  }
}
.icosvg-2{
  svg{
    width: 70px;
  }
}
.icosvg-3{
  svg{
    width: 86px;
  }
}



.author{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
  }
  &__title{
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    margin-right: 45px;
    max-width: 262px;
    span{
      @include f700;
    }
  }
  &__link{
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    color: $bg;
    background-color: #fff;
    min-width: 224px;
  }
}



.tutorial{
  padding: 60px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
  }
  &__title{
    margin-bottom: 60px;
  }
}
.tutorial__item{
  &-images{
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-title{
    background-color: #f8f8f8;
    color: $bg;
    font-size: 24px;
    text-align: center;
    @include f700;
    padding: 30px 10px;
  }
}



.footer{
  background-color: $bg;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 100px 0 80px;
  }
}
.footer__copy{
  border-top: 1px solid #424d53;
}
.footer__copy-text{
  text-align: center;
  font-size: 15px;
  color: #919699;
  padding: 25px 0;
}
.footer__col{
  max-width: 270px;
  width: 100%;
  &-menu{
    max-width: 220px;
  }
  &-title{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    padding-bottom: 25px;
    margin-bottom: 30px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text{
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}
.footer__info{
  margin-top: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #fff;
  padding-left: 30px;
  position: relative;
  &::before{
    content: '\f041';
    font-family: icomoon;
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }
}
.footer__info-phone{
  @include f500;
  &::before{
    content: '\f095';
  }
}
.footer__col-list{
  a{
    margin-bottom: 12px;
    color: #b7c3c8;
    padding-left: 22px;
    position: relative;
    &::before{
      position: absolute;
      content: "\f105";
      font-family: icomoon;
      font-size: 18px;
      color: $green;
      left: 0;
    }
  }
}
.footer__social-link{
  margin-bottom: 33px;
  li{
    display: inline-block;
    & + li{
      margin-left: 7px;
    }
  }
  a{
    width: 28px;
    height: 28px;
    background-image: url(../images/css_sprites.png);
  }
}
.link-twitter{
  background-position: -84px 0;
}
.link-youtube{
  background-position: -112px 0;
}
.link-pinterest{
  background-position: -56px 0;
}
.link-linkedin{
  background-position: -28px 0;
}
.footer__form-title{
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
}
.footer__form{
  position: relative;
  input{
    border: none;
    background-color: #2f3c43;
    box-shadow: inset 1px 1px 2px 0px #000;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 50px;
    outline: none; 
    &::placeholder{
      color: #697378;
    }
  }
  button{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $green;
    border: none;
    height: 39px;
    width: 45px;
    cursor: pointer;
    &::before{
      content: '\f124';
      font-family: icomoon;
      font-size: 20px;
      color: #fff;  
    }
  }
}



.product-page__inner{
  display: flex;
  margin-bottom: 80px;
}
.product-page__aside{
  margin-right: 30px;
}
.aside__item{
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 32px 22px;
  margin-bottom: 30px;
  width: 270px;
}
.aside__title{
  border-bottom: 1px solid #dde3e8;
  font-size: 20px;
  color: $bg;
  @include f700;
  padding: 22px 0 19px;
}
.category__list{
  padding-top: 10px;
  li{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    &::before{
      position: absolute;
      content: "\f105";
      font-family: icomoon;
      font-size: 18px;
      color: $green;
      left: 0;
    }
  }
  a{
    color: $bg;
  }
  span{
    color: #90a4ae;
    margin-left: 10px;
  }
}
.price-range{
  form{
    padding-top: 10px;
  }
  button{
    margin-top: 40px;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    border: none;
    color: #fff;
    @include f500;
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    &::before{
      position: absolute;
      content: "\f002";
      font-family: icomoon;
      font-size: 15px;
      color: #fff;
      left: 55px;
      top: 15px;
    }
  }
}
.irs-min,
.irs-max{
  display: none;
}
.irs--flat .irs-line{
  background-color: #f2f5f8;
  height: 5px;
}
.irs--flat .irs-bar{
  background-color: #37474f;
  height: 5px;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-handle{
  top: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid $green;
  background-color: #fff;
}
.irs-from, .irs-single, .irs-to {
  top: 45px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
  display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.product-page__aside{
  .product__item-img{
    min-height: 120px;
  }
  .product__item{
    box-shadow: none;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }
  .product__item-content{
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }
  .product__item-info {
    padding: 0;
    min-height: 0;
  }
  .product__item-title,
  .product__item-price{
    font-size: 16px;
  }
  .product__item-star span{
    display: none;
  }
  .rate-star{
    margin-right: 0;
  }
  .product__item-author .avatar{
    margin-right: 10px;
  }
  .jq-ry-container {
    padding: 0;
  }
}
.aside__product-item{
  .product__item:last-child{
    border: none;
    padding-bottom: 0;
  }
  .product__item:first-child{
    margin-top: 25px;
  }
}
.top-sellers__link{
  padding: 13px 10px;
  background-color: $green;
  text-align: center;
  color: #fff;
  @include f500;
  display: block;
}
.product-page__filter{
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 20px;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }
}
.product-page__filter-sort{
  color: #707070;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.icon-sort-amount-desc{
  font-size: 18px;
  color: #455a64;
  margin-right: 5px;
}
.icon-unsorted{
  font-size: 14px;
  color: #707070;
  margin-left: 5px;
}
.product-page__filter-layout{
  button{
    color: #90a4ae;
  }
  button{
    &.active{
    color: $green;
    }
  }
}
.product-page__content{
  width: 100%;
  .product__item{
    flex-basis: calc(33.333% - 30px);
    background-color: #fff;
    transition: all .5s;
    margin-left: 30px;
  }
  .product__item-img{
    min-height: 180px;
  }
  .product__item-content{
    padding: 10px 20px;
  }
  .product__item-title{
    font-size: 16px;
  }
  .product__item-info{
    min-height: 65px;
    padding: 10px 20px;
  }
  .product__item-star{
    span{
      @include f500;
    }
    .rate-star{
      margin-right: 5px;
    }
  }
  .jq-ry-container{
    padding: 0;
  }
}
.product-page__items{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -30px;
}
.pagination__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 6px;
    }
  }
  a,
  span{
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    width: 43px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: $bg;
    @include f500;
    &.active{
      background-color: $red;
      color: #fff;
    }
  }
}
.product__item-text{
  display: none;
}
.product__item-price{
  span{
    display: none;
  }
}
.product__item-list{
  display: none;
}
.product__item{
  &.list{
    max-width: 100%;
    flex-basis: 100%;
    .product__item-img{
      width: 240px;
      float: left;
      min-height: 100%;
    }
    .product__item-text{
      display: block;
      font-size: 14px;
      color: #70838d;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .product__item-price{
      font-size: 30px;
      text-align: right;
      span{
        display: block;
        font-size: 13px;
        color: #aeb4bb;
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: 400;
        margin-top: 15px;
      }
    }
    .product__item-content{
      padding-top: 15px;
      min-height: 115px;
    }
    .product__item-name{
      max-width: 480px;
    }
    .product__item-star{
      margin-left: auto;
    }
    .product__item-list{
      display: block;
      .icon-comment-o,
      .icon-heart-o{
        display: inline-block;
        font-size: 12px;
        color: #70838d;
        &::before{
          color: $green; 
          font-size: 16px; 
          padding: 0 19px;
          margin-left: 30px;
          border-left: 1px solid #aeb4bb;
        }    
        span{
          color: $bg;
          @include f500;
        }
      }
    }
  }
}



.product-one{
  padding-bottom: 100px;
}
.product-one__inner{
  display: flex;
  justify-content: space-between;
}
.product-one__content{
  max-width: 870px;
}
.product-one__images-inner{
  border: 1px solid #dcdcdc;
  background-color: #fff;
  max-width: 900px;
  padding: 16px;
}
.product-one__images{
  max-width: 868px;
  height: 422px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-one__title{
  font-size: 30px;
  color: $bg;
  line-height: 40px;
  @include f500;
  margin-top: 30px;
  margin-bottom: 20px;
}
.product-one__text{
  font-size: 16px;
  color: #707070;
  margin-bottom: 45px;
}
.product-one__box{
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.product-one__link{
  a{
    padding: 17px 8px;
    min-width: 150px;
    color: $grey;
    font-size: 16px;
    line-height: 16px;
    & + a{
      margin-left: 20px;
    }
  }
}
.link-live{
  background-color: $red;
}
.link-screenshots{
  background-color: #455a64;
}
.link-documentation{
  background-color: $green;
}
.product-one__social{
  a{
    width: 54px;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    padding: 16px 5px;
  }
}
.icon-facebook{
  background-color: #6370b6;
}
.icon-twitter{
  background-color: #64b5f6;
}
.icon-linkedin{
  background-color: #4f71ce;
}
.icon-pinterest-p{
  background-color: #d32f2f;
}
.product-one__tabs{
  border: 1px solid #d7d7d7;
  background-color: #fff;
  width: 100%;
  margin-bottom: 50px;
}
.tabs{
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #d7d7d7;
  .tab{
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #70838d;
    padding: 22px;
    cursor: pointer;
    &.active{
      @include f500;
      color: $bg;
    }
    & + .tab{
      border-left: 1px solid #d7d7d7;
    }
  }
}
.tab_content{
  height: 264px;
  padding: 30px 30px 50px;
}
.tab-item{
  display: none;
  &:first-child{
    display: block;
  }
}
.tab-items__list{
  font-size: 16px;
  line-height: 36px;
  color: #707070;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 10px;
  li{
    width: 270px;
  }
}



.product-one__title{
  width: 870px;
  height: 60px;
  border: 1px solid #d7d7d7;
  @include f500;
  color: $bg;
  font-size: 18px;
  line-height: 18px;
  padding: 21px 25px;
  background-color: #fff;
  margin-bottom: 28px;
}
.product-one__more-icons{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productmini{
  margin-bottom: 27px;
  max-width: 270px;
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  display: flex;
}
.productmini__images{
  width: 100px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.productmini__info{
  padding: 15px 20px 10px;
}
.productmini__name{
  @include f500;
  font-size: 14px;
  line-height: 16px;
  color: $bg;
}
.productmini__theme{
  font-size: 12px;
  line-height: 28px;
  color: $green;
}
.productmini__price{
  @include f700;
  font-size: 18px;
  line-height: 28px;
  color: $bg;
}

.price__box{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 25px;
}
.price__product{
  font-size: 22px;
  @include f500;
  color: $red;
}
.product__price{
  button{
    width: 208px;
    height: 48px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    @include f700;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    span{
      margin-right: 10px;
    }
    & + button{
      margin-top: 7px;
    }
  }
}
.add-to-cart{
  background-color: $green;
}
.add-to-fav{
  background-color: #42a5f5;
}
.add-to-buy{
  background-color: $text;
}
.product-author__box{
  margin-top: 20px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.product-author__avatar{
  margin-right: 15px;
}
.product-author__info{
  margin-right: auto;
}
.product-author__name{
  font-size: 18px;
  line-height: 18px;
  color: $bg;
  margin-bottom: 15px;
}
.product-author__link{
  width: 92px;
  height: 28px;
  color: #707070;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  padding: 7px 5px;
}
.product-author__awards-list{
  margin-top: 20px;
  margin-bottom: 15px;
  li{
   display: inline-block;
   color: #fff;
   font-size: 20px;
   text-align: center;
   padding-top: 7px;
   & + li{
     margin-left: 4px;
   }
  }
}
.icon-meh-o{
  background-image: url(../images/product-one/golden-award.png);
  width: 34px;
  height: 37px;
}
.icon-pagelines{
  background-image: url(../images/product-one/red-award.png);
  width: 34px;
  height: 37px;
}
.icon-bolt{
  background-image: url(../images/product-one/blue-award.png);
  width: 34px;
  height: 37px;
}
.icon-foursquare{
  background-image: url(../images/product-one/green-award.png);
  width: 34px;
  height: 37px;
}
.icon-yen{
  background-image: url(../images/product-one/grey-award.png);
  width: 34px;
  height: 37px;
}
.aside__item-sales{
  height: 40px;
  padding-top: 22px;
  font-size: 16px;
  color: #707070;
  @include f300;
  span{
    @include f700;
    font-size: 20px;
    line-height: 20px;
    color: $bg;
    margin-right: 10px;
    margin-left: 10px;
  }
  &.icon-shopping-cart::before{
    color: #a6b5bb;
    font-size: 20px;
  }
}
.information__line{
  font-size: 14px;
  line-height: 20px;
  color: #70838d;
  padding-top: 20px;
  span{
    color: $bg;
    @include f500;
  }
}



.settings__tabs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  .tabs{
    min-width: 270px;
    height: 100%;
    margin-right: 30px;
    border: 1px solid #d7d7d7;
    border-bottom: none;
    background-color: #fff;
    display: block;
    text-align: left;
    .settings__tab{
      display: block;
      border-left: none;
      border-bottom: 1px solid #d7d7d7;
      @include f500;
      font-size: 14px;
      line-height: 14px;
      color: #707070;
      padding: 17px 17px 17px 50px;
      &.active{
        border-bottom: 1px solid $green;
        color: #37474f;
        &::before{
          color: $green;
        }
      }
      &::before{
        left: 24px;
        color: #707070;
      }
    }
  }
}
.settings__tab-content{
  width: 100%;
  border: 1px solid #d7d7d7;
  background-color: #fff;
}
.page-box__title{
  @include f500;
  color: $bg;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 1px solid #d7d7d7;
  padding: 18px 32px;
}
.page-box__content{
  padding: 30px 35px 76px;
  button{
    width: 108px;
    height: 46px;
    color: #fff;
    background-color: $green;
    @include f500;
    font-size: 15px;
    line-height: 15px;
    border: none;
    cursor: pointer;
    margin-left: 258px;
  }
}
.settings__line{
  label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    input,
    select{
      height: 40px;
      width: 100%;
      max-width: 540px;
      border: 1px solid #d7d7d7;
      background-color: #f9f9f9;
      color: $bg;
      padding: 0 20px;
      font-family: 'Roboto-Regular', sans-serif;
      font-weight: 400;
      font-size: 15px;
      margin-left: auto;
    }
  }
}


.profile__inner{
  display: flex;
}
.profile__aside{
  width: 270px;
  margin-right: 30px;
}
.profile__content{
  width: 100%;
}
.profile-status{
  width: 78px;
  height: 28px;
  border: 1px solid #cccccc;
  background-color: #fff;
  padding: 6.5px 12px 6.5px 24px;
  font-size: 13px;
  line-height: 13px;
  color: #70838d;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: 10px;
    top: 8.5px;
  }
}
.profile-on{
  &::before{
    background-color: $green;
  }
}
.profile-off{
  &::before{
    background-color: $red;
  }
}
.profile__aside-btn{
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
.profile__aside-message{
  box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
  color: #fff;
  background-color: $text;
  margin-bottom: 17px;
  display: block;
  width: 100%;
  height: 54px;
  @include f500;
  padding: 19px;
  position: relative;
  &::before{
    position: absolute;
    content: '\f003';
    font-family: icomoon;
    left: 50px;
  }
}
.profile__aside-following{
  box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
  color: #fff;
  background-color: $green;
  display: block;
  width: 100%;
  height: 54px;
  @include f700;
  padding: 19px;
}
.profile__banner{
  border: 1px solid #d7d7d7;
  max-width: 869px;
  height: 368px;
  padding: 17px;
  background-color: #fff;
  margin-bottom: 30px;
}
.profile__banner-images{
  max-width: 829px;
  max-height: 332px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.profile__items{
  display: flex;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  text-align: center;
  height: 80px;
  margin-bottom: 28px;
}
.profile__item{
  flex: 1;
  line-height: 15px;
  padding: 22px 10px;
  align-self: center;
  & + .profile__item{
    border-left: 1px solid #d7d7d7;
  }
}
.profile__item-title{
  @include f500;
  font-size: 14px;
  margin-bottom: 5px;
  color: $bg;
}
.profile__item-content{
  font-size: 14px;
  line-height: 14px;
  color: #707070;
  span{
    color: $bg;
    @include f500;
  }
}



.profile__tab{
  position: relative;
  span{
    position: absolute;
    left: 20px;
    color: #d0d0d0;
  }
}
.profile__tab.active{
  span{
    color: $green;
  }
}
.profile__tab-content{
  padding: 35px 40px 25px;
}
.personal-box__title{
  margin-bottom: 25px;
  @include f700;
  color: $bg;
  font-size: 20px;
}
.personal-box__text{
  margin-bottom: 20px;
  color: #707070;
}
.personal-box__item-head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 16px;
  color: $bg;
}
.personal-box__item-name{
  @include f500;
  font-style: italic;
}
.personal-box__item-number{
  @include f700;
}
.personal-box__item-line{
  height: 15px;
  background-color: #f4f4f4;
  border-radius: 4px;
  margin-bottom: 23px;
  span{
    display: block;
    height: 15px;
    border-radius: 4px;
    background-image: url(../images/progress-bar.jpg);
    background-repeat: repeat-x;
  }
}



.upload__inner{
  background-color: #fff;
  border: 1px solid #d7d7d7;
  margin-bottom: 105px;
  &-title{
    @include f500;
    color: $bg;
    font-size: 24px;
    padding: 20px 32px;
    border-bottom: 1px solid #d7d7d7;
  }
  &-content{
    padding: 40px 44px;
  }
}
.upload-line{
  margin-bottom: 24px;
  label{
    color: #444;
    display: flex;
    align-items: baseline;
    input,
    select,
    textarea{
      width: 900px;
      background-color: #f9f9f9;
      border: 1px solid #d7d7d7;
      padding: 11px 15px;
      margin-left: auto;
      &::placeholder{
        color: #707070;
      }
    }
    textarea{
      height: 150px;
      resize: none;
    }
    span{
      color: $green;
      font-size: 24px;
    }
    .jq-selectbox,
    .jq-file{
      width: 900px;
      margin-left: auto;
      box-shadow: none;
      border-radius: 0;
    }
    .jq-file__name{
      position: relative;
    }
  }
  .jq-selectbox__select,
  .jq-file__name{
    height: 40px;
    padding: 11px 15px;
    border: 1px solid #d7d7d7;
    border-bottom-color: #d7d7d7;
    border-radius: 0;
    background: #f9f9f9;
    box-shadow: none;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #707070;
    text-shadow: none;
  }
  .jq-selectbox__trigger{
    border-left: none;
  }
  .jq-selectbox__trigger-arrow{
    top: 12px;
    right: 20px;
    font-size: 15px;
    border: none;
    &::before{
      font-family: icomoon;
      content: '\f0d7';
    }
  }
  .jq-file__browse{
    position: absolute;
    text-shadow: none;
    box-shadow: none;
    background: #fff;
    border-radius: 0;
    border: 1px solid #d7d7d7;
    height: 26px;
    width: 89px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #444;
    padding: 7px;
    left: 17px;
    top: 7px;
    text-align: center;
  }
  .jq-file__name{
    padding-left: 120px;
  }
} 

.upload__inner-content{
  button{
    background-color: $green;
    color: #fff;
    @include f500;
    font-size: 15px;
    line-height: 15px;
    width: 124px;
    border: none;
    padding: 15px;
    margin: 20px auto 20px 180px;
    cursor: pointer;
  }
}



.withdrawals__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 146px;
}
.withdrawals__col{
  max-width: 570px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}
.withdrawals__title{
  @include f500;
  color: $bg;
  font-size: 24px;
  line-height: 24px;
  padding: 20px 32px 24px;
  border-bottom: 1px solid #d7d7d7;
}
.withdrawals__content{
  padding: 28px 38px 34px 34px;
  button{
    width: 202px;
    height: 52px;
    background-color: $green;
    border: none;
    color: #fff;
    @include f700;
    font-size: 16px;
    line-height: 16px;
    padding: 18px 5px;
    margin-top: 6px;
    margin-bottom: 14px;
  }
}
.withdrawal__form-line{
  label{
    @include f500;
    font-size: 16px;
    line-height: 16px;
    color: $bg;
    span{
      font-size: 24px;
      color: $green;
    }
    input{
      display: block;
      width: 100%;
      background-color: #f9f9f9;
      border: 1px solid #d7d7d7;
      height: 42px;
      padding: 20px 12px;
      font-size: 15px;
      line-height: 15px;
      color: #707070;
      font-family: 'Roboto-Regular', sans-serif;
      margin-top: 24px;
      margin-bottom: 30px;
    }
    .jq-selectbox{
      display: block;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 30px;
      &__select{
        height: 42px;
        padding: 20px 12px;
        border: 1px solid #d7d7d7;
        border-radius: 0;
        background: #f9f9f9;
        box-shadow: none;
        font: 15px/15px 'Roboto-Regular', sans-serif;
        color: #707070;
        text-shadow: none;
        display: flex;
        align-items: center;
        &-text{
          width: 100% !important;
        }
      }
    }
    .jq-selectbox__trigger{
      border-left: none;
    }
    .jq-selectbox__trigger-arrow{
      top: 12px;
      right: 20px;
      font-size: 15px;
      border: none;
      &::before{
        font-family: icomoon;
        content: '\f0d7';
      }
    }
  }
}
.withdrawals__content-item{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 42px;
  font-size: 13px;
  line-height: 13px;
  color: #444;
  &:nth-child(odd){
    background-color: #f9f9f9;
  }
}
.withdrawals__content-date{
  flex: 1;
  @include f500;
}
.withdrawals__content-email{
  flex: 1.65;
}
.withdrawals__content-price{
  flex: 0.6;
  @include f700;
}
.withdrawals__content-status{
  flex: 0.75;
  @include f700;
  &.withdrawals__content-paid{
    color: $green;
  }
}






@import 'media';